Sortuj:
<div class="d-flex col-6">
  <label class="form-control"
         [for]="option.name"
         *ngFor="let option of sortingService.sortingOptions">
    <input class="radio"
           type="radio"
           ngModel
           name="sortingOptions"
           [id]="option.name"
           [value]="option.id"
           (ngModelChange)="sortingService.onSorting($event)"
           [ngModel]="'returnDate'">
    {{option.name}}
  </label>
</div>
<app-filters></app-filters>
<div class="d-flex">
  <section class="me-4"
           style="height: 80vh; overflow: scroll;">
    <section class="d-flex justify-content-between"
             routerLinkActive="alert alert-primary"
             *ngFor="let book of books; index as i">
      <h3 class="p-2">{{i}}.</h3>
      <div class="p-2">
        <p>Tytuł: {{book.title ? book.title : '+nie podano tytułu+'}}</p>
        <p>Deadline: {{book.returnDate | date}}</p>
        <p>ID karty: {{book.cardId}}</p>
      </div>
      <div class="ps-4 pe-4">
        <button class="btn btn-secondary p-2 d-block"
                (click)="transfer(book)">{{transferCopy}}!</button>
        <button class="btn btn-secondary pt-3"
                [routerLink]="[book.id]">Szczegóły</button>
      </div>
    </section>
  </section>
  <p *ngIf="!books.length">
    Brak książek
  </p>
  <router-outlet></router-outlet>
</div>
