<div class="d-flex">
  <section class="me-4"
           style="height: 80vh; overflow: scroll;">
    <section class="d-flex justify-content-between"
             routerLinkActive="alert alert-primary"
             *ngFor="let book of books; index as i">
      <h3 class="p-2">{{i}}.</h3>
      <div class="p-2">
        <p>Tytuł: {{book.title}}</p>
        <p>Numer karty: {{book.cardId}}</p>
        <p>Właściciel karty: {{book.cardId}}</p>
      </div>
      <div class="ps-4 pe-4">
        <button class="btn btn-secondary p-2 d-block"
                (click)="transfer(book)">Do {{targetDepartment}}!</button>
        <button class="btn btn-secondary pt-3"
                [routerLink]="[book.id]">Szczegóły</button>
      </div>
    </section>
  </section>
  <router-outlet></router-outlet>
</div>
