<app-sorting></app-sorting>
<app-filters></app-filters>
<div class="d-flex">
  <section class="me-4"
           style="height: 80vh; overflow: scroll;">
    <section class="d-flex justify-content-between"
             routerLinkActive="alert alert-primary"
             *ngFor="let book of books; index as i">
      <h3 class="p-2">{{i}}.</h3>
      <div class="p-2">
        <p>Tytuł: {{book.title ? book.title : '+nie podano tytułu+'}}</p>
        <p>Deadline: {{book.returnDate | date}}</p>
        <p>ID karty: {{book.cardId}}</p>
        <p>ID książki: {{book.id}}</p>
      </div>
      <div class="ps-4 pe-4 _book-list-button">
        <button class="btn btn-secondary p-1 d-block"
                (click)="dbService.transfer(book, department)">{{transferCopy}}!</button>
        <button class="btn btn-info p-1"
                [routerLink]="[book.id]">Szczegóły [+ edycja / usuwanie]</button>
      </div>
    </section>
  </section>
  <p *ngIf="!books.length">
    Brak książek
  </p>
  <router-outlet></router-outlet>
</div>
