<form>
    <label for="">title <input type="text"
               #title
               value="123"></label>
    <p></p>
    <label for="library">libraryAddressNumber </label>
    <select id="library"
            #libraryAddressNumber
            (change)="onLibrarySelected($event)">
        <option *ngFor="let library of libraries; let i = index"
                [value]="library.number"
                #libraryIndex>
            {{library.number}}</option>

    </select>
    <p></p>
    <label for="">dateOfLoan <input type="date"
               #dateOfLoan
               required></label>
    <p></p>
    <label for="">IDCard <input type="number"
               #IDCard
               value="123"></label>
    <p></p>
    <p></p>
    <button type="button"
            (click)="addBook(title.value, librarySelected, dateOfLoan.valueAsDate, IDCard.valueAsNumber)">ADD</button>
    <p></p>
</form>
