<form>
  <label for="">title <input type="text" #title value="123" /></label>
  <p></p>
  <label for="library">LibraryAddressNumber </label>
  <select id="library" (change)="onLibrarySelected($event)">
    <option value="choose library">choose library</option>
    <option *ngFor="let library of libraries" [value]="library.libNumber">
      {{ library.libNumber }}
    </option>
  </select>
  <p></p>
  <label for="">dateOfLoan <input type="date" #dateOfLoan required /></label>
  <p></p>
  <label for="">IDCard</label>
  <select name="IDCard" id="IDCard" (change)="onCardSelected($event)">
    <option value="choose card">choose card</option>
    <option *ngFor="let IDcard of IDcards" [value]="IDcard.cardHolder">{{IDcard.cardHolder}}</option>
  </select>
  <p></p>
  <p></p>
  <button type="button" (click)="addBook(title.value, dateOfLoan.valueAsDate)">
    ADD
  </button>
  <p></p>
</form>
