<p class="mt-4 fw-bold">Sortowanie książek:</p>
<div class="d-flex flex-column mt-2">
  <label class="form-control mb-2"
         [for]="option.name"
         *ngFor="let option of sortingService.sortingOptions">
    <input class="radio"
           type="radio"
           ngModel
           name="sortingOptions"
           [id]="option.name"
           [value]="option.id"
           (ngModelChange)="sortingService.onSorting($event)"
           [ngModel]="'returnDate'">
    {{option.name}}
  </label>
</div>
