<div>
  <label for="filtersTypes">Filtruj biblioteki: </label>

  <label for="filter"
         *ngFor="let filter of filterService.libraryFilters; let i = index">
    <input class="checkbox"
           type="checkbox"
           [ngModel]="checkboxesValues[i]"
           [name]="filter.address"
           (ngModelChange)="onFiltering($event, filter, i)">
    {{filter.code}}
  </label>
  <label for="selectAll">
    <input type="checkbox"
           [ngModel]="allCheckboxValue"
           id="selectAll"
           (ngModelChange)="selectAll($event)">
    {{ 'zaznacz wszystkie' }}
  </label>
</div>
