<div>
  <label for="filtersTypes">Filtruj: </label>

  <label for="filter"
         *ngFor="let filter of filterService.libraryFilters">
    <input class="checkbox"
           type="checkbox"
           [ngModel]="true"
           [name]="filter.address"
           [checked]="libraryCheckboxStatus"
           (ngModelChange)="onFiltering($event, filter)">
    {{filter.code}} {{libraryCheckboxStatus}}
  </label>
  <label for="selectAll">
    <input type="checkbox"
           #all="ngModel"
           [ngModel]="allCheckboxStatus"
           id="selectAll"
           (ngModelChange)="selectAll($event)">
    {{ 'zaznacz wszystkie' }}
  </label>
</div>
