<form [formGroup]="bookForm"
      (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Tytuł książki</label>
    <input type="text"
           id="title"
           placeholder="Wpisz tytuł"
           formControlName="title" />
    <span *ngIf="bookForm.get('title')?.errors?.['required']"
          class="error">
      Wpisz tytuł
    </span>
  </div>

  <div>
    <label for="libraryId">Nr filii biblioteki</label>
    <select id="libraryId"
            name="libraryId"
            formControlName="libraryId">
      <option [ngValue]="0"
              disabled>Wybierz filię biblioteki</option>
      <option *ngFor="let code of bookService.libraryCodes | async"
              [ngValue]="code"
              [selected]="false">
        {{ code }}
      </option>
    </select>
    <span *ngIf="bookForm.controls.libraryId.hasError('noLibraryCode')"
          class="error">
      Nie wybrałeś filli biblioteki
    </span>
  </div>

  <div>
    <label for="dateOfLoan">Data wypożyczenia </label>
    <input type="date"
           id="dateOfLoan"
           formControlName="dateOfLoan"
           required />
  </div>

  <div>
    <label for="cardId">Karta czytelnika</label>
    <select name="cardId"
            id="cardId"
            formControlName="cardId">
      <option [ngValue]="0"
              disabled>Wybierz kartę</option>
      <option *ngFor="let idCard of bookService.idCards"
              [ngValue]="idCard.code"
              [selected]="false">
        {{ idCard.holder }}
      </option>
    </select>
    <span *ngIf="bookForm.controls.cardId.hasError('noCardId')"
          class="error">Nie wybrałeś karty czytelnika</span>
  </div>

  <div>
    <label for="penalty">Kara</label>
    <input type="number"
           id="penalty"
           formControlName="penalty">
    <span *ngIf="bookForm.controls.penalty.hasError('tooLargePenalty')">Zbyt wysoka kara!</span>
    <span *ngIf="bookForm.controls.penalty.hasError('required')">Kara musi być! Conajmniej zero! (0)</span>
  </div>

  <fieldset>
    <legend>Książka jest: </legend>
    <input type="radio"
           name="returned"
           id="inRental"
           [value]="false"
           formControlName="returned">
    <label for="inRental">wypożyczona</label>
    <br>
    <input type="radio"
           name="returned"
           id="inArchive"
           [value]="true"
           formControlName="returned">
    <label for="inArchive">oddana</label>

  </fieldset>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="bookForm.invalid">Add / Edit book</button>
</form>

<p class="alert"
   [class.saved]="savedBook">SAVED</p>
